/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body .ng-star-inserted .mat-form-field{
    width: 90%;
    margin: 0 auto;
    display: block;
}
.RED-CLASS{
    color: red !important;
}
