<div class="container" *ngIf="!accountService.isLogin()">
    <app-login [form]="form"></app-login>
</div>
<ng-container *ngIf="accountService.isLogin()">
    <label>User Name:</label>
    <span>{{accountService.currentUser.userName}}</span>
    <br/>
    <label>Your current location:</label>
    <span>{{accountService.currentUser.homeCity}}</span>
    <div class="container">
        <mat-form-field>
            <input matInput [matDatepicker]="startPicker" placeholder="Choose a Start date"
                [(ngModel)]="startReportDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [matDatepicker]="endPicker" placeholder="Choose a End date" [(ngModel)]="endTeportDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-radio-group [(ngModel)]="typeOfReport" aria-labelledby="example-radio-group-label">
            <mat-radio-button class="example-radio-button" value="Own">Own</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Kyiv">Kyiv</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Lviv">Lviv</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Sumy">Sumy</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Kharkiv">Kharkiv</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Dnipro">Dnipro</mat-radio-button>
        </mat-radio-group>
    </div>
    <button class="btn btn-success" (click)="toggleIsReport()"> Generate Report</button>
    <ng-container *ngIf="isReport">
        <ng-container *ngIf="values.length === 0">
            <mat-spinner></mat-spinner>
        </ng-container>
        <ng-container *ngIf="values.length !== 0">
            <div class="col-lg-12 table-responsive" #TABLE #table>
                <div style="padding-bottom: 10px;padding-top: 10px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <button (click)="exportTable()" class="btn btn-success">ExportToExcel</button> </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead class="table thead-dark">
                        <tr>
                            <th rowspan="2" class="col-sm-12 col-sm-12">Categories</th>
                            <th *ngFor="let date of dates" colspan="3">{{date.toLocaleDateString()}}</th>
                            <th colspan="3">Total by category</th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let date of dates">
                                <th>Downloads</th>
                                <th>Images</th>
                                <th>Videos</th>
                            </ng-container>
                            <th>Downloads</th>
                            <th>Images</th>
                            <th>Videos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let value of values">
                            <td *ngFor="let id of value.ids" [innerHTML]="id | uppercaseUnderlineLess"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </ng-container>
</ng-container>