<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Fill out main movie's fields</ng-template>
        <app-main-movie-data [editMovie]="editMovie" [formGroup]="firstFormGroup"></app-main-movie-data>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step  optional>
        <ng-template matStepLabel>Fill out optional movie's fields</ng-template>
        <app-additional-movie-data [editMovie]="editMovie"></app-additional-movie-data>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="onSave()">Save</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>