<form [formGroup]="form" class="col-12">
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
    </p>
    <div class="button-container">
        <button class="button" type="submit" mat-raised-button color="primary" [disabled]="!form.valid"
            (click)="login()">Login</button>
    </div>
</form>