<mat-toolbar>
    <button mat-stroked-button (click)="addItem()">Add New</button>
    <button mat-stroked-button [disabled]="!isOneSelected"  color="primary" (click)="openEditDialog()">Edit</button>
    <button mat-stroked-button [disabled]="!isAnySelected" (click)="deleteSelectedItems()" color="accent">Delete</button>
</mat-toolbar>