table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td, th {
    width: 20%;
  }
  .mat-row:hover{
    background-color: #CDEABA;
    cursor: pointer;
  }
  .movie-table-container{
    height: 400px;
    overflow: auto;
  }
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  .selected{
    background-color: #B7E599;
  }