<div class="basic-container" *ngIf="!!editMovie">
    <h1 mat-dialog-title>Edit Movie</h1>
    <mat-grid-list cols="6" rowHeight="500px">
        <mat-grid-tile [colspan]="2">
            <app-main-movie-data [formGroup]="firstFormGroup" [editMovie]="editMovie"></app-main-movie-data>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <app-additional-movie-data [editMovie]="editMovie" style="width: 100%;">
            </app-additional-movie-data>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="buttons-container">
        <button mat-stroked-button (click)="onNoClick()">No Thanks</button>
        <button mat-stroked-button (click)="onSave()">Ok</button>
    </div>
</div>