<div>
    <form [formGroup]="formGroup" >
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="nameCtrl"   required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="titleCtrl"  required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="descCtrl" >
        </mat-form-field>
    </form>
</div>
