<div class="basic-container">
  <h1 mat-dialog-title>{{dialogTitle}}</h1>
  <div mat-dialog-content>
    <div class="form-group">
      <input hidden matInput [(ngModel)]="data.id">
    </div>
    <div class="form-group">
      <label class="col-md-4">Name:</label>
      <mat-form-field>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label class="col-md-4">Title: </label>
      <mat-form-field>
        <input matInput [(ngModel)]="data.title">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label class="col-md-4">Description: </label>
      <mat-form-field>
        <input matInput [(ngModel)]="data.description">
      </mat-form-field>
    </div>
  </div>
  <div class="buttons-container">
    <button mat-stroked-button (click)="onNoClick()">No Thanks</button>
    <button mat-stroked-button [mat-dialog-close]="data">Ok</button>
  </div>
</div>