<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>TV Control</a>
      <div style="text-align:center">
        <nav>
          <a [routerLinkActive]="['active']" routerLink="/movies">Movies</a>
          <a [routerLinkActive]="['active']" routerLink="/genres">Genres</a>
          <a [routerLinkActive]="['active']" routerLink="/contributors">Contributors</a>
          <a [routerLinkActive]="['active']" routerLink="/contributorstypes">Contributors Types</a>
          <a [routerLinkActive]="['active']" routerLink="/viround">Viround</a>
          <a routerLink="/viround" (click)="logOut()">Viround Log Out</a>
        </nav>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>