<mat-form-field>
    <mat-label>Genres</mat-label>
    <mat-select multiple [(value)]="editMovie.genres" (selectionChange)="onGenresChange($event)">
        <mat-option *ngFor="let genre of defaultGenreList" [value]="genre.id">{{genre.name}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-label>Contributor</mat-label>
<div>
    <app-contributor-selection *ngFor="let editContributor of editMovie.contributors"
        [editContributor]="editContributor">
    </app-contributor-selection>
</div>