<mat-grid-list cols="2" rowHeight="80">
    <mat-grid-tile>
        <mat-checkbox [checked]="editContributor.active" (change)="onContributorChecked($event)">{{editContributor.name}}</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
        <div [hidden]="!editContributor.active">
            <mat-checkbox 
                *ngFor=" let contributorType of typesList"
                [checked]="isTypeActive(contributorType.id)"
                (change)="onTypeChecked($event, contributorType.id)"
            >{{contributorType.name}}</mat-checkbox>
        </div>
    </mat-grid-tile>
</mat-grid-list>